// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$input-btn-focus-box-shadow: 0 0 0 0.2rem rgba(0,0,0, 15%);
$input-focus-border-color: #b3b3b3;
