// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.ml-3 {
    margin-left: $spacer !important;
}

.ml-12 {
    margin-left: ($spacer * 4) !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
